<div class="container-lg text-center">
  <div class="row">
    <div class="col-auto">
      <h2 class="text-info m-3">I nostri servizi</h2>
      <div *ngFor="let servizio of servizi" class="card d-lg-inline-flex belbox m-2 " style="width: 25rem">
        <div class="card-body">
          <h5 class="card-title">{{ servizio.nomeServizio }}</h5>
          <p class="card-text">{{ servizio.descrizioneServizio }}</p>
          <a routerLink="/contcli" class="btn btn-success belbox">vai al contratto</a>
        </div>
      </div>
    </div>
  </div>
</div>
