<div class="container-lg text-center">
  <div class="row g-2">
    <div class="col-auto">
      <h2 class="text-info m-3">Lista dei servizi</h2>
      <div *ngFor="let servizio of servizi" class="card d-lg-inline-flex" style="width: 25rem">
        <div class="card-body">
          <h5 class="card-title">{{ servizio.nomeServizio }}</h5>
          <p class="card-text">{{ servizio.descrizioneServizio }}</p>
          <a  class="btn btn-primary" (click)="modificaServizio(servizio)">modifica</a>
          <a class="btn btn-danger" (click)="deleteServizio(servizio.id)">elimina</a>
        </div>
      </div>
    </div>

    <hr />
    <div class="col-12">
      <h2 class="text-info">Aggiungi subito il tuo servizio</h2>
      <button type="button" class="btn border border-dark rounded-3 fs-5 py-3 text-info m-3" (click)='switchForm()'>
        Crea nuovo servizio
      </button>
    </div>
  </div>
</div>

<div *ngIf="update">
  <hr>
  <h3 class="text-info text-center">Modifica il tuo servizio</h3>
  <form [formGroup]="form" class="text-center">
    <div class="form-group">
      <label for="nomeServizio">Nome servizio</label>
      <input type="text" class="form-control m-auto w-auto" placeholder="Nome servizio"
        formControlName="nomeServizio" />
    </div>
    <div class="form-group">
      <label for="descrizioneServizio">Descrizione servizio</label>
      <input type="text" class="form-control m-auto w-auto" placeholder="Descrizione" formControlName="descrizioneServizio" />
    </div>
    <input type="submit" class="btn btn-success" value="Update" (click)="updateServizio()" />
  </form>
</div>
<app-form-servizi *ngIf="showForm"></app-form-servizi>
