<div class="container-fluid bg-info bg-opacity-50 belbox">
  <div class="row">
    <div class="col-3">Applicativo a cura di :</div>

    <div class="col-3">
      <a class="link-primary" href="https://github.com/DanieleSudosi"><img src="../../assets/img/github.png" alt="" style="height: 1.5rem;">Daniele Sudosi</a>
    </div>
    <div class="col-3">
      <a class="link-primary" href="https://github.com/ChristianDeLaFuente"><img src="../../assets/img/github.png" alt="" style="height: 1.5rem;">Christian de la Fuente</a>
    </div>
    <div class="col-3">
      <a class="link-primary" href="https://github.com/giovannighione"><img src="../../assets/img/github.png" alt="" style="height: 1.5rem;">Giovanni Ghione</a>
    </div>
  </div>
  <p class="text-center">Copyright&copy;2022 - FINWAVE</p>
</div>
