<form [formGroup]="form" class="text-center">
    <div class="form-group">
      <label for="titoloContratto">Titolo contratto</label>
      <input type="text" class="form-control m-auto w-auto" placeholder="Titolo Contratto"
        formControlName="titoloContratto" />
    </div>
    <div class="form-group">
      <label for="descrizioneContratto">Descrizione contratto</label>
      <input type="text" class="form-control m-auto w-auto" placeholder="Descrizione" formControlName="descrizioneContratto" />
    </div>
    <div class="form-group">
      <label for="costoMensile">Costo contratto</label>
      <input type="text" class="form-control m-auto w-auto" placeholder="Descrizione" formControlName="costoMensile" />
    </div>
    <div class="form-group">
      <label for="durataMax">Durata Massima</label>
      <input type="text" class="form-control m-auto w-auto" placeholder="Durata Massima" formControlName="durataMax" />
    </div>
    <div class="form-group">
      <label for="durataMin">Durata Minima</label>
      <input type="text" class="form-control m-auto w-auto" placeholder="Durata minima" formControlName="durataMin" />
    </div>
    <div class="form-group">
        <label for="servizi">Aggiungi Servizi</label>
        <select class="form-select" id="selezione" formControlName="servizi" multiple>
            <option *ngFor="let servizio of servizi" [ngValue]="servizio" >{{servizio.nomeServizio}}</option>
          </select>
    </div>
    <input type="submit" class="btn btn-success" (click)="saveContratti()" value="Crea"/>
  </form>