<div class="container-lg text-center">
  <div class="row">
    <div class="col-auto">
      <h2 class="text-info m-3">Lista delle vetture</h2>
      <div *ngFor="let vettura of vetture" class="card d-inline-flex" style="width: 25rem" >
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">
            {{ vettura.marca }} - {{ vettura.modello }}
          </h5>
          <p class="card-text"> alimentazione: {{ vettura.alimentazione }}</p>
          <p class="card-text">{{ vettura.descrizione }}</p>
          <p class="card-text"> attualmente disponibili: {{ vettura.quantita }}</p>
          <a class="btn btn-primary" (click)="modificaVettura(vettura)">Modifica</a>
          <a class="btn btn-danger" (click)="deleteVettura(vettura.id)">Elimina</a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12">
      <h2 class="text-success">Aggiungi subito la nuova Vettura</h2>
      <button type="button" class="btn border border-success rounded-3 fs-5 py-3 text-success m-3" (click)='switchForm()'>
        Crea nuova Vettura
      </button>
    </div>
  </div>
</div>

<div *ngIf="update">
  <hr>
  <h3 class="text-info text-center">Modifica la tua vettura</h3>
  <form [formGroup]="form" class="text-center">
    <div class="form-group">
      <label for="marca">Marca</label>
      <input type="text" class="form-control m-auto w-auto" placeholder="Marca"
        formControlName="marca" />
    </div>
    <div class="form-group">
      <label for="modello">Modello</label>
      <input type="text" class="form-control m-auto w-auto" placeholder="modello" formControlName="modello" />
    </div>
    <div class="form-group">
      <!-- <label for="alimentazione">Alimentazione</label>
      <input type="text" class="form-control m-auto w-auto" placeholder="alimentazione" formControlName="alimentazione" /> -->
      <label for="alimentazione">Alimentazione</label>
            <select class="form-select belbox m-2" id="alimentazione" formControlName="alimentazione"
              id="alimentazione">
              <option selected [ngValue]="null">Seleziona Alimentazione</option>
              <option *ngFor="let alimentazione of keys(alimentazione)">
                {{ alimentazione }}
              </option>
            </select>
    </div>
    <div class="form-group">
      <label for="descrizione">descrizione</label>
      <input type="text" class="form-control m-auto w-auto" placeholder="descrizione" formControlName="descrizione" />
    </div>
    <div class="form-group">
      <label for="quantita">quantità</label>
      <input type="number" class="form-control m-auto w-auto" placeholder="quantita" formControlName="quantita" />
    </div>
    <!-- <div class="form-group">
      <label for="Modello">immagine</label>
      <input type="text" class="form-control m-auto w-auto" placeholder="img" formControlName="img" />
    </div> -->
    <input type="submit" class="btn btn-success" (click)="updateVettura()" />
  </form>

</div>
<app-form-vetture *ngIf="showForm"></app-form-vetture>

